@{
    ViewData["Title"] = "Kelompok 1";
}

<body>
    <div class="container mt-5">
        <h1 class="text-center">Kelompok 5</h1>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr class="text-center" style="background-color: Lightcoral">
                <th>Nama Mahasiswa</th>
                <th>NIM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Al Gibran Sharma Devara</td>
                <td>24010121140142</td>
            </tr>
            <tr>
                <td>Anissa Alivia Putri</td>
                <td>24010121140127</td>
            </tr>
            <tr>
                <td>Isna Utyatun Najwa</td>
                <td>24010121120004</td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
